body{
    background-color: #f1dbe2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
    background-color: #f7f2ec;
    height: 70px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-toggler{
    border: none;
    font-size: 1.25 rem;

}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline:none;
}

.nav-link{
    color: #ee819a;
    font-weight: 500;
    position: relative;
}

.nav-ling:hover, .nav-link:active{
    color: #000;
}

@media(min-width: 991px) {
    

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #ee819a;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;

}
}

.navbar-brand img{
    border-radius: 50%;
}

.carousel{
    width: 100%; /*ancho*/
    height: 400px; /*alto*/
    position: relative;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(10, 2, 2, 0.1);
}

.slides{
    display: flex;
    width: 300%;
    height: 100%;
    animation: deslizar 3s infinite;
}

.slide{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
}


.slide img{
    width: 70%;
    height: 0%;
    object-fit: contain;
    display: block;
    object-position: center;

}

@keyframes deslizar{
    0% {transform: translateX(0); }
    30% {transform: translateX(0); }

    33% {transform: translateX(-100%); }
    63% {transform: translateX(-100%); }

    66% {transform: translateX(-200%); }
    96% {transform: translateX(-200%); }

    100% {transform: translateX(0); }
}

.footer{
    margin-top: 30px;
    background-color:#f7f2ec;
    padding: 40px 20px;
    text-align: center;
    font-family: sans-serif;
}

.introduccion{
    margin-top: 40px;
}

.introduccion h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.introduccion p{
    font-size: 26px;
    line-height: 1;
}

.stide img{
    width: 30%;
    height: 30%;
    object-fit: cover;
}

.categoria h2{
    font-size:40px;
    font-weight: bold;
}

.categoria{
    margin:45px 10px 0 10px;
}

.card-body{
    background-color:#f7f2ec;

}

.row{
    margin:10px;
}

.card-title{
    text-align: center;
    font-size: 30px;
}

.footer a{
    text-decoration: none;
    color:#ee819a;
    
}

.col img{
    height: 350px;
}

.footer a:hover{
    border-bottom: 1px solid;
}

.ventanas a{
    margin-right: 28px;
}

.ventanas{
    margin-bottom: 13px;
}

.footer p{
    font-size: 18px;
}