body{
    background-color: #f1dbe2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
    background-color: #f7f2ec;
    height: 70px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-toggler{
    border: none;
    font-size: 1.25 rem;

}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline:none;
}

.nav-link{
    color: #f34b72;
    font-weight: 500;
    position: relative;
}

.nav-ling:hover, .nav-link:active{
    color: #000;
}

ion-icon{
    color:#f34b72;
    font-size: 45px;
    margin-right: 8px;
    margin-top: 8px;
}


@media(min-width: 991px) {
    

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #f34b72;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;

}
}

.navbar-brand img{
    border-radius: 50%;
}

.nombre-log{
    margin-top: 8px;
    margin-left: 7px;
}

.nombre-log a{
    color: #f34b72;
    text-decoration: none;
}

.btnLogin-popup{
    background-color: #f34b72;
    color: #f1dbe2;
    font-size: 14px;
    padding: 8px 20px;
    border: 0;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
}

.btnLogin-popup:hover{
    background-color: #f26d8c;
}


.c-item{
    margin-top: 120px;
    height: 400px;
}

.c-img{
    height: 650px;
    object-fit: cover;
}

.carousel{
    max-width: 1300px;
    margin: 20px;
}

.footer{
    margin-top: 30px;
    background-color:#f7f2ec;
    padding: 40px 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.introduccion{
    margin-top: 47px;
}

.introduccion h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    font-size: 45px;

}

.introduccion p{
    padding-left: 25px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 22px;
    text-align: justify;
}

.comercializacion{
    padding-left:  30px;
    padding-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.comercializacion h1{
    margin-top: 120px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold
} 

.comercializacion h2{
    margin-bottom: 10px;
    margin-top: 16px;
    color: #ee819a;
    font-weight: bold;
}
.comercializacion p{
    font-size: 22px;
    margin-bottom: 28px;
    text-align: justify;
}

.comercializacion ul{
    font-size: 22px;
    margin-bottom: 28px;
}

.contacto p{
    font-size: 22px;
    margin-bottom: 28px;
    text-align: justify;
}

.contacto h1{
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.contacto{
    padding-left: 30px;
    padding-right: 20px;
}

.categoria{
    margin:45px 10px 0 10px;
}

.categoria h2{
    font-weight: bold;
}

.card-body{
    background-color:#f7f2ec;

}

.row{
    margin:10px;
}

.card-title{
    text-align: center;
    font-size: 30px;
}

.footer a{
    text-decoration: none;
    color:#f34b72;
    
}

.col img{
    height: 350px;
    object-fit: cover;
}

.footer a:hover{
    border-bottom: 1px solid;
}

.ventanas a{
    margin-right: 28px;
}

.ventanas{
    margin-bottom: 13px;
}

.footer p{
    font-size: 18px;
}

.terminos-usos{
    padding-left: 30px;
    padding-right: 20px;
}

.terminos-usos h1{
    margin-top: 120px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    font-size: 40px;

}

.terminos-usos h2{
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ee819a;
}

.terminos-usos p{
    margin-bottom: 28px;
    font-size: 22px;
    text-align: justify;
}

.terminos-usos li{
    font-size: 20px;
}

.sobre-nosotras{
    padding-left: 30px;
    padding-right: 20px;
}

.sobre-nosotras h1{
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.sobre-nosotras h2{
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ee819a;
}

.sobre-nosotras p{
    margin-bottom: 28px;
    font-size: 22px;
    text-align: justify;
}

.consultas h1{
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.consultas h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ee819a;
    padding-left: 25px;
}

.consultas form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 55px #0006;
    border-radius: 10px;
    margin-top: 30px;
}

.consultas form h2{
    text-align: center;
}

.consultas .paddingConsultas{
    padding: 6px 20px;
}

.consultas input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #f7f2ec;
    background-color: #f7f2ec;
    border-radius: 4px;
    color: #000;
    outline: none;
}

.consultas label{
    font-size: 1.1rem;
    line-height: 2;
    color: #f06d8b;
}

.consultas details{
    background-color: transparent;
    border: 1px solid #ee819a;
    margin: 10px;
    border-radius: 4px;
}

.consultas summary{
    background-color: transparent;
    padding: 9px;
    color: #f34b72;
}

.consultas .enviar{
    background-color: #f2a6b7;
    width: 30%;
    margin-left: 173px;
}

.iniciar_sesion form{
    margin: auto;
    margin-top: 130px;
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    box-shadow: 0 0 55px #0006;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.iniciar_sesion form h2{
    text-align: center;
}

.iniciar_sesion .form_input{
    padding: 6px 20px;
}

.iniciar_sesion input{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #f7f2ec;
    background-color: #f7f2ec;
    border-radius: 4px;
    color: #000;
    outline: none;
}

.iniciar_sesion label{
    font-size: 1.1rem;
    line-height: 2;
    color: #f06d8b;
}

.iniciar_sesion .ingresar{
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: #f2a6b7;
    width: 30%;
    margin-left: 173px;
}

.iniciar_sesion p{
    padding-left: 15px;
}

.iniciar_sesion a{
    color: #f34b72;
    text-decoration: none;
}

.registro form{
    margin: auto;
    margin-top: 130px;
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    box-shadow: 0 0 55px #0006;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.registro form h2{
    text-align: center;
}

.registro .form_input{
    padding: 6px 20px;
}

.registro input{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #f7f2ec;
    background-color: #f7f2ec;
    border-radius: 4px;
    color: #000;
    outline: none;
}

.registro label{
    font-size: 1.1rem;
    line-height: 2;
    color: #f06d8b;
}

.registro .registrarse{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f2a6b7;
    width: 30%;
    margin-left: 173px;
}

.registro p{
    padding-left: 15px;
}

.registro a{
    color: #f34b72;
    text-decoration: none;
}

.abm {
    margin-top: 146px;
}

.abm h1{
    text-align: center;
    margin-bottom: 15px;
}

.abm .btn{
    color:#f7f2ec;
    background-color: #f34b72;
}

.abm .botones{
    margin-left: 20px;
}

.abm .botones a{
    margin-right: 4px;
}

.formulario_abm {
    margin-top: 140px;
}

.formulario_abm form{
    margin: auto;
    margin-top: 130px;
    background-color: transparent;
    padding: 20px 0;
    max-width: 700px;
    box-shadow: 0 0 55px #0006;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formulario_abm h2{
    text-align: center;
    margin-bottom: 16px;
    color: #f06d8b;
}

.formulario_abm input{
    width: 95%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #f7f2ec;
    background-color: #f7f2ec;
    border-radius: 4px;
    color: #000;
    outline: none;
    margin-left: 18px;
}

.formulario_abm label{
    font-size: 1.1rem;
    line-height: 2;
    color: #f06d8b;
    padding-left: 18px;
}

.formulario_abm .btn{
    color:#f7f2ec;
    background-color: #f34b72;
}

.formulario_abm .form-group{
    margin-left: 225px;
}

.formulario_abm button{
    margin-right: 4px;
}

.formulario_abm select{
    width: 95%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #f7f2ec;
    background-color: #f7f2ec;
    border-radius: 4px;
    color: #f3426b;
    outline: none;
    margin-left: 18px;
}

.abm .product-card{
    aspect-ratio: 1 / 1;
    width: 100%;
    background-color: #f7f2ec;
    padding: 1em;
    box-shadow: 0 5px 5px #0006;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.abm .product-card img{
    max-width: 100%;
}

.abm .product-card h4{
    font-size: 1.3em;
    margin: 0.5em 0;
}

.product-card div{
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card button{
    background-color: #ee819a;
    color: #f7f2ec;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    line-height: 1;
    cursor: pointer;
}

.product-card:hover{
    background-color: #ee819a;
    color: #f7f2ec;
}

.product-card:hover button{
    color: #ee819a;
    background-color: #f7f2ec;
}

@media screen and (max-width: 576px){
    .product-card {
        font-size: 0.9em;
    }
}

.abm h5{
    margin-bottom: 30px;
    color: #f06d8b;
    font-size: 40px;
    padding-left: 20px;
}

.filtros_cat {
    margin-left: 20px;
    margin-bottom: 30px;
}

.filtros_cat a{
    margin-right: 6px;
}