<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initialscale=1,
shrink-to-fit=no">
<link href="assets/css/miestilo.css" rel="stylesheet">

<title>Ejemplo 1</title>
</head>
<body>
<nav class="menu">
    <img src="assets/img/20220912_212613.jpg">
    <ul>
        <li><a href="//www.youtube.com">inicio</a></li>
        <li><a href="#">sobre nosotros</a></li>
        <li><a href="#">contactos</a></li>

    </ul>
</nav>
<div class="titulo">
<h1>Bienvenidos a Taller de Programación I</h1>
</div>

<div class="parrafo">
<p>Hoy sólo práctico de configuración</p>

<p> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Dolorem eos ad quia laborum unde nobis nulla.
    Rerum et, odio nobis explicabo, numquam eaque minus quidem non 
    corrupti esse perspiciatis doloribus?
</p>
    </div>
    <div>
        <footer>
      continuara
        </footer>
    </div>
</body>
</html> 
